@model string
@{
    ViewBag.Title = "PPT";
    Layout = "~/Views/_ViewStart.cshtml";
}

<div class="row">   
    <div class="large-12 columns">

        <div class="row">

            <div class="large-8 columns">


                <iframe src="https://onedrive.live.com/embed?cid=F28C3659F8F15706&resid=F28C3659F8F15706%21116&authkey=AARO0PKnHL3BDaA&em=2"
                        scrolling="no" 
                        style="width:100%; height:500px; padding-top: 10px; border:0px;"></iframe>

            </div>


            <div class="large-4 columns" style="padding-top: 10px">

                <h3 class="show-for-small">Explore @Controls.logo()</h3>

                <div class="panel">
                    <h4 class="hide-for-small">Discover @Controls.logo()</h4>
                    <hr />
                    <h5 class="subheader">Explore and understand @Controls.logo(). @Controls.logo() will provide 
                        over this content portal updated information. We also would like to
                        hear from you and @Controls.logo() would be glad to provide certain
                        content which interests you relating to @Controls.logo().

                    </h5>
                </div>

                <div class="row">
                    <div class="large-6 small-6 columns">
                        <div class="panel">
                            <h5>Header</h5>
                            <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
                            <a href="#" class="small button">BUTTON TIME!</a>
                        </div>
                    </div>

                    <div class="large-6 small-6 columns">
                        <div class="panel">
                            <h5>Header</h5>
                            <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
                            <a href="#" class="small button">BUTTON TIME!</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- End Header Content -->
        <!-- Search Bar -->

        <div class="row">

            <div class="large-12 columns">
                <div class="radius panel">

                    <form>
                        <div class="row collapse">

                            <div class="large-10 small-8 columns">
                                <input type="text" />
                            </div>

                            <div class="large-2 small-3 columns">
                                <a href="#" class="postfix button expand">Search</a>
                            </div>

                        </div>
                    </form>

                </div>
            </div>

        </div>

        <!-- End Search Bar -->
        <!-- Thumbnails -->

        <div class="row">

            <div class="large-12 show-for-small columns">
                <h3>Header</h3>
                <hr>
            </div>

            <div class="large-3 small-6 columns">
                <img src="http://placehold.it/500x500&text=Thumbnail">
                <div class="panel">
                    <p>Description</p>
                </div>
            </div>

            <div class="large-3 small-6 columns">
                <img src="http://placehold.it/500x500&text=Thumbnail">
                <div class="panel">
                    <p>Description</p>
                </div>
            </div>

            <div class="large-3 small-6 columns">
                <img src="http://placehold.it/500x500&text=Thumbnail">
                <div class="panel">
                    <p>Description</p>
                </div>
            </div>

            <div class="large-3 small-6 columns">
                <img src="http://placehold.it/500x500&text=Thumbnail">
                <div class="panel">
                    <p>Description</p>
                </div>
            </div>

        </div>

        <!-- End Thumbnails -->
    </div>
</div>

