@{
    ViewBag.Title = "TROT - Welcome";
}

<link rel="stylesheet" href="~/Content/panels.css" />
@Html.Partial("Layout/Styles")
<!-- First Band (Slider) -->


<div class="row">
    <div class="large-12 columns">
        <div id="info" style="margin: 40px 0 40px 0; padding: 35px 0 60px 40px; color: #fff; background-color: #438DD3;">
            <div>
                <h1 style="color: #fff">An exciting range of <span>TROT<small style="color:#fff; vertical-align:super"> &copy;</small></span> products</h1>

                <p>
                    You have been investing in gold, properties, shares, bounds, fixed deposits, mutual funds ... for good returns
                safety and liquidity, but with mixed results.  
                </p>
                <p>
                    Explore TROT Products of rated projects of reputed companies for assured results with unique hedge benefits.
                    <br />
                    Invest in unique hedge products of rated projects in realty, education, power, hospitality, healthcare
                </p>

                <br />
                <br />

                <div class="prototypedemo">
                    <h2>Experience TROT with our demo prototype</h2>
                    <a class="btn-trytrot" href="@Url.Action("Login", "Account")">LOGIN
                    </a>
                </div>
            </div>
        </div>

        <hr />
    </div>
</div>


<div class="row">

    <div class="large-7 columns">

        <h5 class="show-for-small">@Controls.logo() Products</h5>

        <div class="panel-trotproducts">
            <h4 class="hide-for-small" style="color: #a88501;">Discover the mechanics of @Controls.logo()</h4>
            <h6 class="subheader" style="font-size: 1rem; color: #171616;">The TROT team has prepared a wide collection of presentations,
                to help you discover @Controls.logo(). 
               
                <br />
                <br />
                Also, find below, a point-wise summary of the primary @Controls.logo() products. 
            </h6>
        </div>

    </div>


    <div class="large-5 columns">


        <div class="row">

            <div class="large-6 small-6 columns">
            </div>

            <div class="large-6 small-6 columns">
                <div class="panel-linear0">
                    @*<img src="~/Content/images/icons/FAQ.png" style="height:32px;width:32px" />*@
                    <span class="btn-right-bar">FAQs</span>

                </div>
                <div class="panel-linear1">
                    @*<img src="~/Content/images/icons/FAQ.png" style="height:32px;width:32px" />*@
                    <a href="@Url.Action("Index","Download")"><span class="btn-right-bar">Downloads</span></a>
                </div>

                <div class="panel-linear2">
                    @*<img src="~/Content/images/icons/FAQ.png" style="height:32px;width:32px" />*@
                    <span class="btn-right-bar">News</span>

                </div>


            </div>
        </div>

        @*<div class="row">

                <div class="large-6 small-6 columns">
                            </div>

                <div class="large-6 small-6 columns">
                    <div class="panel">
                        Know your @Controls.logo() Products
                    </div>
                </div>
            </div>*@

    </div>

</div>

<!-- Three-up Content Blocks -->
<div class="row">
    <dl class="tabs" data-tab="true">
        <dd class="active" style="width: 20%"><a href="#panel2-1">@Controls.logo()
            <br />
            REALTY</a></dd>
        <dd style="width: 20%"><a href="#panel2-2">@Controls.logo()
            <br />
            HOSPITALITY</a></dd>
        <dd style="width: 20%"><a href="#panel2-3">@Controls.logo()
            <br />
            EDUCATION</a></dd>
        <dd style="width: 20%"><a href="#panel2-4">@Controls.logo()
            <br />
            HEALTHCARE</a></dd>
        <dd style="width: 20%"><a href="#panel2-5">@Controls.logo()
            <br />
            POWER</a></dd>
    </dl>
</div>
<div class="row">
    <br />
    <div class="tabs-content">
        <div class="content active" id="panel2-1">

            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">Invest in liquid properties with hedge benefits
                    </h5>
                    <hr />



                    <p>
                        Retail investment in realty projects for Household investors
                    </p>
                    <p>
                        Select a project and invest any amount for unique realty hedge benefits.
                    </p>
                    <p>
                        Any-time liquidity with good returns, backed by @Controls.logo() Safety
                    </p>
                    <p>
                        Plan your retirement home or future home for your children with freedom to choose a project in future.
                    </p>
                    <br />
                    <br />
                </div>
            </div>


            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">Developers - Sell your own @Controls.logo() Realty products
                    </h5>

                    <hr />



                    <p>
                        Why wait for sale of flats?
                    </p>
                    <p>
                        No charge on the project; freedom to sale flats or shop or office
                    </p>
                    <p>
                        @Controls.logo() Products to suit your every requirement
                    </p>
                    <p>
                        Explore the unique @Controls.logo() Usance Products for your leased properties
                    </p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>



            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">HNIs and Realty Funds- Invest for liquidityand high returns
                    </h5>

                    <hr />


                    <p>
                        @Controls.logo() Trade Partner opportunities for HNIs
                    </p>
                    <p>
                        Short term realty investment with easy exit
                    </p>
                    <p>
                        @Controls.logo() opportunities for Realty Funds for early exit with higher returns.
                    </p>
                    <p>
                        Employee Realty Fund - An innovative HRD initiative
                    </p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>



            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">How it works?
                        <br />
                        <br />
                        <br />
                    </h5>

                    <hr />


                    <p>
                        Present 1 product per ft<small style="vertical-align: top">2</small> area of the flat and pay the prefixed price
                    </p>
                    <p>
                        Built-up area stocks maintained for sale on @Controls.logo() terms
                    </p>
                    <p>
                        @Controls.logo() e-Platform to buy/sell or to buy your flat - easy
                        to operate; backed by @Controls.logo() safety
                    </p>
                    <p>
                        Dependable project details certified by the professionals
                        
                    </p>
                    <p>
                        NRIs - Invest in INRs, USD, or Euro denominated @Controls.logo() Realty
                        Products
                    </p>



                </div>
            </div>




        </div>

        <div class="content" id="panel2-2">

            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">Business and leisure travelers - Invest to hedge your hotel costs
                    </h5>
                    <hr />

                    <p>
                        Enjoy freedom to select a hotel without booking in advance
                    </p>
                    <p>
                        Why block your funds for bulk advance bookings?
                    </p>
                    <p>
                        Invest in @Controls.logo() Products - exit any time for liquidity with good returns
                    </p>

                    <br />
                    <br />
                </div>
            </div>


            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">Hotel companies - Sell @Controls.logo() Products today & rooms in future
                    </h5>

                    <hr />

                    <p>
                        Why deep discount your rooms today? Sell your @Controls.logo() Products
                    </p>
                    <p>
                        You are free to buy back any time through @Controls.logo() e-trade platform if the future costs mismatch
                    </p>
                    <p>
                        @Controls.logo() Products categories to suit your every need
                    </p>

                    <br />

                </div>
            </div>



            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">Opportunities for Travel Agents to boost revenue
                    </h5>
                    <hr />
                    <p>
                        Invest in the products and book the rooms at prefixed rates to boost your
                        business with attractive offers
                    </p>
                    <p>
                        You may sell the products any time for liquidity with good returns
                    </p>
                    <p>
                        Easy and secured platform
                    </p>

                    <br />
                    <br />

                </div>
            </div>



            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">How it works?

                        <br />
                        <br />
                        <br />
                    </h5>
                    <hr />
                    <p>
                        Present 1 product for 1 room-day and pay the pre-fixed room tariff - Swap you products to select a hotel
                    </p>
                    <p>
                        Minimum room-days stocks reserved for @Controls.logo() Product holders
                    </p>
                    <p>
                        @Controls.logo() e-Platform to buy/sell or to book-easy, backed by @Controls.logo() Safety
                    </p>
                    <br />
                </div>
            </div>


        </div>
        <div class="content" id="panel2-3">


            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">Donate to secure future of your child
                        <br />
                        <br />
                    </h5>

                    <hr />
                    <p>
                        Donate and earn the sponsorship units
                    </p>
                    <p>
                        Freedom to select from a wide range of courses and institutes any time in future
                    </p>
                    <p>
                        Hedge any part of the education cost - reduce the education loan burden on your child
                    </p>

                    <p>
                        Institutional details certified by professionals
                    </p>
                    <p>
                        @Controls.logo() e-Trade Platform to exit any time for liquidity with returns
                    </p>

                    <br />
                    <br />
                    <br />


                </div>
            </div>


            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">The Institutes - Issue your own @Controls.logo() Sponsorships today
                    </h5>

                    <hr />

                    <p>
                        Attract donations to fund your education infrastructure - Not a Capitation Fee
                    </p>
                    <p>
                        Can easily replace &quot;Project loans&quot; to save on the interest costs; no collaterals
                    </p>
                    <p>
                        Set your own TROT terms to cover any courses and offer hedge for the tution or any fees
                        including hostel charges
                    </p>
                    <p>
                        Most suitable for engineering, management, pharmacy and medical degree courses
                    </p>

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                </div>
            </div>



            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">Philanthropists, Trusts and for SCR obligations
                        <br />
                        <br />
                    </h5>
                    <hr />
                    <p>
                        Enjoy the double philanthropy!
                    </p>
                    <p>
                        Donate and also earn sponsorships to help needy, deserving students
                    </p>
                    <p>
                        Your option to sponsor covering any part of the education cost
                    </p>
                    <p>
                        You may sell the products anytime for liquidity with returns
                    </p>
                    <p>
                        Easy avenue for the companies to meet its Corporate Social Responsibilities(SCRs) -
                        May a sponsor employee children without attracting Income tax disallowances
                    </p>


                </div>
            </div>



            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">How it works?

                        <br />
                        <br />
                        <br />
                    </h5>
                    <hr />
                    <p>
                        Present required number of the Unit to any enlisted institute of your choice and &quot;Name&quot; a student for
                        a seat of learning
                    </p>
                    <p>
                        Certain No. of seats for each course reserved for @Controls.logo()
                        Sponsors.
                    </p>
                    <p>
                        @Controls.logo() e-Platform sponsor and confirm the admission
                        or even assign the sponsorship rights

                    </p>
                    <p>
                        Online help to view the institutes, student requests and also
                        sponsor a student - details certified by professionals.
                    </p>
                    <br />
                </div>
            </div>



        </div>

        <div class="content" id="panel2-5">

            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">Invest in @Controls.logo() Power Products with hedge benefits
                    </h5>

                    <hr />
                    <p>
                        Retail investment in power sector for Household investors and Industry alike                   
                    </p>
                    <p>
                        Buy TROT Power products of any power company – generator, distributor or a power trading company of your choice
                    </p>
                    <p>
                        Any-time liquidity with good returns, backed by @Controls.logo() Safety
                    </p>

                    <p>
                        Control your Power Rates and not the consumption to control your power bills
                    </p>

                    <p>
                        Industry can invest cash surplus in TROT Power Products – Hedge the power cost or earn good returns                   
                    </p>

                    <br />

                </div>
            </div>


            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">Power Companies - Sell your own  @Controls.logo() Power products
                    </h5>

                    <hr />

                    <p>
                        Why wait to sell power? Sell @Controls.logo() Power products covering next 10 years power generation
                    </p>
                    <p>
                        Its sale of the product and not a debt funding – No interest; No repayment
                    </p>
                    <p>
                        No charge on the project; freedom to sale power subject to @Controls.logo() terms
                    </p>
                    <p>
                        @Controls.logo() Products to suit your every requirement
                    </p>
                    <p>
                        Option to buy back any time in future 
                    </p>
                    <p>
                        The sale proceeds can easily fund your future expansion plans
                    </p>

                </div>
            </div>



            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">HNIs and Realty Funds- Invest for liquidity and high returns
                    </h5>
                    <hr />
                    <p>
                        @Controls.logo() Trade Partner opportunities for HNIs
                    </p>
                    <p>
                        Short term bulk investment in @Controls.logo() Power Projects for its resale                   
                    </p>
                    <p>
                        High returns with easy exit
                        
                    </p>

                    <p>
                        @Controls.logo() opportunities for Power Project Funding banks/agencies/funds - early exit with higher returns.
                    </p>
                    <p>
                        Unique opportunities for Power Trading Companies
                    </p>

                </div>
            </div>



            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">How it works?

                        <br />
                        <br />
                        <br />
                    </h5>
                    <hr />
                    <p>
                        Present any time in future 1 product per kWh power consumed and pay at the prefixed rate
                    </p>
                    <p>
                        Complex system made simple for you – any TROT Power product can be presented 
                    </p>

                    <p>
                        Power capacities earmarked for sale on TROT terms
                    </p>
                    <p>
                        @Controls.logo() e-Platform to buy/sell or to pay your power bills on TROT terms or even otherwise 
                    </p>
                    <p>Dependable project details certified by the professionals</p>
                    <p>NRIs - Invest in INRs, USD, or Euro</p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>


        </div>
        <div class="content" id="panel2-4">

            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">Buy or donate to hedge your future healthcare costs
                    </h5>

                    <hr />
                    <p>
                        Buy @Controls.logo() Products or donate to earn sponsorship units of reputed hospitals.
                    </p>
                    <p>
                        Wide range of well defined healthcare procedures and the costs covered - no exclusions
                    </p>
                    <p>
                        Avail any healthcare procedures any time in future at the charges
                        fixed today - for yourself or a family member or any person
                    </p>

                    <p>
                        @Controls.logo() Products as supplement to Medicare Insurance
                    </p>

                    <p>
                        @Controls.logo() e-Trade Platform to exit any time for liquidity with
                        returns
                    </p>

                    <br />

                </div>
            </div>


            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">The Hospitals - Issue your own @Controls.logo() Sponsorship Units
                    </h5>

                    <hr />

                    <p>
                        Private hospital to sale its own @Controls.logo() Products or
                    </p>
                    <p>
                        Charitable hospitals to attract donations, to fund its upgradations
                    </p>
                    <p>
                        Can offer affordable healthcare - replaces loans to save on the interest costs;
                        no collaterals
                    </p>
                    <p>
                        Set your own @Controls.logo() terms to cover any procedures
                        and any of its costs
                    </p>
                    <p>
                        You may recall the products or the sponsorships against payment of pre-fixed
                        compensation in case of cost mismatch in future or after a certain period
                    </p>
                    <br />
                    <br />

                </div>
            </div>



            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">Sponsorship Units for Philanthropists and Trusts
                    </h5>
                    <hr />
                    <p>
                        Enjoy the double philanthropy!
                    </p>
                    <p>
                        Donate and also earn sponsorships to help needy, deserving patients
                    </p>
                    <p>
                        Your option to sponsor any procedure covering any part of its cost -
                        flexible approach to help you stretch your sponsorships covering many
                        more patients
                    </p>
                    You may sell the products any time for liquidity with returns
                    <p>
                        An avenue for the companies to meet its SCRs - May sponsor employees,
                        their famil members without attracting Income tax disallowances

                    </p>

                    <br />


                </div>
            </div>



            <div class="large-3 columns">
                <div class="panel-fixed-height">
                    <h5 style="font-style: italic">How it works?

                        <br />
                        <br />
                        <br />
                    </h5>
                    <hr />
                    <p>
                        Present the required No. of @Controls.logo() products or the
                        Units to a hospital of your choice for any procedure
                    </p>
                    <p>
                        Pay online or directly to the hospital the pre-fixed charges
                    </p>

                    <p>
                        Certain No. of procedures with beds reserved for @Controls.logo()
                        Sponsorships
                    </p>
                    <p>
                        @Controls.logo() e-Platform to sponsor and confirm the admission or even
                        to assign the sponsorship rights
                    </p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>


        </div>
    </div>
</div>


<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">

        <div class="panel">
            <h4>Get in Touch with @Controls.logo()</h4>

            <div class="row">
                <div class="large-9 columns">
                    <p>We'd love to hear from you!</p>
                </div>
                <div class="large-3 columns">
                    <a href="~/Contacts" class="radius button right">Contact Us</a>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).foundation({
        orbit: {
            animation: 'slide',
            timer_speed: 10000,
            pause_on_hover: true,
            animation_speed: 500,
            navigation_arrows: true,
            bullets: false,
            captionAnimation: 'fade',
            captions: true,
            captionAnimationSpeed: 800
            //after_slide_change: function () { alert("changed");}
        },
        tab: {
            callback: function (tab) {
                console.log(tab);
            }
        }
    });
</script>
