
<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="large-6 columns" >
                <p style="font-size:0.75rem">
                    trotrealty.com is global e-trade platform for trading in
                    various @Controls.logo() products of reted projects. It
                    does not sell its own @Controls.logo() products or collect any
                    deposits
                </p>
                <p style="font-size:0.75rem">
                    © Copyrights @("@") 2013 @Controls.logo() Realty holds under
                    license rights, title and interest &quot;IPRs&quot; including
                    its background IP, copyrights patents, registered designs,
                    trademarks togeather with any right or form of protection of a similar
                    nature and having equivalent or similar effect to any of them
                    anywhere in the world.

                    <a>Terms of Service</a>


                </p>
            </div>
            <div class="large-6 columns">
                <div class="row">
                    <ul class="inline-list right ">
                        <li><a href="#">FAQs</a></li>
                        <li><a href="@Url.Action("Index","Safety")">@Controls.logo() Safety</a></li>
                        <li><a href="@Url.Action("Index","Download")">Downloads</a></li>
                        <li><a href="@Url.Action("Index","Contacts")">About Us</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</footer>

